.about-page-container{
    position: relative;
    left: 2%;
    max-width: 95vw;
}
.poster-img{
    max-width: 80vw;
    max-height: 80vh;
    border-radius: 1em;
}
.about-content{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#about-summary{
    width: 70vw;
    text-align: center;
}
.show-name{
    font-size: 3.5em;
    color: #1d3557;
}
.about-sub-heading{
    font-size: 2.5em;
    padding: 0.5em;
    color: #5E503F;
}
.sub-heading-content{
    font-size: 1.25rem;
    color: #bc6c25;
}