.houses-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-evenly;
    padding: 1em;
}
.indi-houses-container{
    padding: 0.5em;
    border: 3px black solid;
    max-width: fit-content;
    text-align: center;
    background-color: #ffe8d6;
    color:#22333B;
}

.house-img {
    width: 20vw;
    height: 25vh;
}
.indi-houses-container:hover{
    color: #C6AC8F;
}