.first-header{
    text-align: center;
    font-size: 2em;
    padding: 1em;
    font-weight: bold;
}
.nav-btn{
    padding: 15px;
}
.nav-bar{
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: white;
    padding: 1em;
    display: flex;                  
}
.main-header{
    font-family: 'Cinzel', serif;
}