.main-container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: -300px;

}
.comment-text{
    margin: 12px 0;
    font-size: 1.5em;
}
.input-box{
    height: 10vh;
    width: 30vw;
    background-color: #EAE0D5;
    padding: 0.5em
}
.submit-btn{
    padding: 1em;
    height: 5vh;
    width: fit-content;
    background-color: #023e8a;
    color: white;
    font-size: 1.05em;
    border-radius: 5px;
    border-style:none;
    font-family: 'Cinzel', serif;
}